{% extends 'builder/app-base.html' %}

{% load static %}

{% block template_head_inserts %}
<link rel="stylesheet" href="{% static 'accounts/styles/forms.css' %}">
{% endblock %}

{% block app_content %}
<div class="content-wrapper align-items-center auth theme-one">
    <div class="row">
    <div class="col-xl-4 col-lg-6 col-md-8 login-form-container mx-auto">
        <h2 class="text-center mb-4">{{ constants.RESET_MESSAGE }}</h2>
        <div class="auto-form-wrapper">
            <p>{{ constants.FORM_RESET_INSTRUCTIONS }}</p>
            {% if validlink %}
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group{% if field.errors %} has-errors{% endif %}">
                    <div class="input-group">
                        {{ field }}
                        <div class="input-group-append">
                            <span class="input-group-text{% if field.help_text %} has-info{% endif %}"></span>
                        </div>
                    </div>
                </div>
                <div class="errors">{{ field.errors.as_text }}</div>
                {% endfor %}
                <div class="form-group">
                    <input type="submit" value="{{ constants.RESET_MESSAGE }}" class="btn btn-primary submit-btn btn-block">
                </div>
            </form>
            {% else %}

            <p>"The password reset link was invalid, possibly because it has already been used.  Please request a new password reset."</p>

            {% endif %}
        </div>
    </div>
    </div>
</div>
{% endblock %}
