{% extends 'registration/email_base.html' %}

{% load i18n %}

{% block preheader_text %}
Password reset for {{ site_name }}
{% endblock %}

{% block content %}

<tr>
    <td style="padding-bottom: 20px; font-family: sans-serif; font-size: 14px; vertical-align: top;">
        You're receiving this email because you requested a password reset for your user account at {{ site_name }}.
    </td>
</tr>
<tr>
    <td style="padding-bottom: 20px; font-family: sans-serif; font-size: 14px; vertical-align: top;">
        Remember, your username is: {{ user.get_username }}
    </td>
</tr>
<tr>
    <td style="font-family: sans-serif; font-size: 14px; vertical-align: top;">
        Click here to reset: {{ protocol }}://{{ domain }}{% url 'set_new_password' uidb64=uid token=token %}
    </td>
</tr>

{% endblock %}
