{% extends 'builder/base.html' %}

{% load static %}

{% block head_inserts %}
<style>
.tooltip-inner{
    min-width: 250px;
    text-align: left;
}
</style>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock %}

{% block content %}
<div class="content-wrapper d-flex align-items-center auth theme-one">
    <div class="row w-100">
    <div class="col-lg-4 mx-auto">
        <h2 class="text-center mb-4">Register</h2>
        <div class="auto-form-wrapper registration-form-container">
        <form action="./" method="post">
            {% csrf_token%}
            {% for field in form %}
            <div class="form-group">
                <div class="input-group">
                    {{ field.errors }}
                    {{ field }}
                    <div class="input-group-append">
                    <span class="input-group-text">
                        {% if field.help_text %}
                        <i data-toggle="tooltip" 
                            data-placement="top" 
                            data-html="true" 
                            data-container="body"
                            title="{{ field.help_text }}"
                            class="fa fa-info-circle">
                        </i>
                        {% endif %}
                    </span>
                    </div>
                </div>
                
            </div>
            {% endfor %}
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary submit-btn btn-block">
            </div>
            <div class="text-block text-center my-3">
                <span class="text-small font-weight-semibold">Already have an account?</span>
                <a href="{% url 'login' %}" class="text-black text-small">Login</a>
            </div>
        </form>
        </div>
    </div>
    </div>
</div>
{% endblock %}
