.navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link i{
    color: #2196f3;
    font-size: 1.75rem;
  }

.navbar-nav .nav-item.dropdown i.profile-dropdown-icon{
  font-size: 1.75rem;
}

#sign-up-button{
  color: white;
  padding: .5rem 1rem;
  min-width: 65px;
}

#log-in-button{
  min-width: 45px;
}

.footer{
    background-color: #353b48;
    height: 45px;
    border-top: none;
    position: relative;
    padding: initial;
}

.footer ul li a{
  color: #dcdde1;
}

.footer a:hover{
  color: white;
}

.footer #logo{
  width: 150px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer #logo-container{
  position: relative;
  float: right;
  top: 9px;
}

.footer .list-inline-item:not(:last-child){
  margin-right: 0.2rem;
}

.footer #footer-items-container{
  position: relative;
  float: left;
  top: 10px;
}

@media (min-width: 350px){
  .footer #logo{
    width: 175px;
    height: 30px;
  }
  .footer #logo-container{
    top: 7px;
  }
  .footer .list-inline-item:not(:last-child){
    margin-right: 0.5rem;
  }
  
}

@media (max-width: 500px){
  #sign-up-button{
    padding: .5rem .25rem;
  }
}


.auth.theme-one .auto-form-wrapper .form-group .input-group .form-control::placeholder{
  line-height: normal;
}