.navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link i{
    color: #2196f3;
    font-size: 1.75rem;
  }

.navbar-nav .nav-item.dropdown i.profile-dropdown-icon{
  font-size: 1.75rem;
}

#sign-up-button{
  color: white;
  padding: .5rem 1rem;
}

.footer{
    background-color: #353b48;
    height: 45px;
    border-top: none;
    position: relative;
    padding: initial;
}

.footer a:hover{
  color: white;
}

.footer #logo{
  width: 175px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer #logo-container{
  position: relative;
  float: right;
  top: 7px;
}
.footer #footer-items-container{
  position: relative;
  float: left;
  top: 10px;
}

.navbar.default-layout .navbar-brand-wrapper .navbar-brand img{
    width: 200px;
}

  .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
    font-size: 16px;
}
