.navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link i{
    color: #2196f3;
    font-size: 1.75rem;
  }

.navbar-nav .nav-item.dropdown i.profile-dropdown-icon{
  font-size: 1.75rem;
}

#sign-up-button{
  color: white;
  padding: .5rem 1rem;
  min-width: 65px;
}

#log-in-button{
  min-width: 45px;
}

.footer{
    background-color: #353b48;
    height: 45px;
    border-top: none;
    position: relative;
    padding: initial;
}

.footer a:hover{
  color: white;
}

.footer #logo{
  width: 175px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer #logo-container{
  position: relative;
  float: right;
  top: 7px;
}
.footer #footer-items-container{
  position: relative;
  float: left;
  top: 10px;
}

@media (max-width: 500px){
  #sign-up-button{
    padding: .5rem .25rem;
  }
}