header.masthead .header-content {
    max-width: 500px;
    padding: 0px 10px;
}

header.masthead{
    height: 525px;
    min-height: initial;
    background: linear-gradient(to right, #0158b9, #37ffe3) !important;
}

.cta-button-container{
    margin-top: 30px;
}

.cta-button-container button{
    font-size: 1.5625rem;
    padding: .5rem 1rem;
    font-weight: 400;
}

.cta-button-container.join-now button{
    font-size: 1.25rem;
}

.header-content h4{
    font-size: 1.5625rem;
}

section#features{
    padding: 30px 0px;
    background-color: #dcdde1;
}

section#join-beta{
    padding: 55px 0px;
}

section#join-beta .text-container{
    text-align: center;
}

#hero-image img,
#features-image img{
    width: 100%;
}

.section-heading{
    margin-bottom: 30px;
}

@media (min-width: 992px){
    header.masthead .header-content h1 {
        font-weight: 700;
        letter-spacing: 1px;
    }
}

