body{
    margin: 0px;
}

.container-scroller{
    overflow: hidden;
}

.task-list-item { list-style-type: none; } 
.task-list-item-checkbox { margin-left: -20px; vertical-align: middle; }
footer {
    height: 40px;
    background: #027BFF;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.footer-container #footer-logo{
    width: 350px;
    height: 30px;
    top: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#printer-logo{
    position: relative;
    width: 100%;
    height: 30px;
    display: none;
}
#printer-logo img{
    width: 200px;
    float: right;
}
.footer-container .image-container{
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -175px;
}

@media (max-width: 375px){
    .footer-container #footer-logo{
        width: 300px;
    }
    .footer-container .image-container{
        margin-left: -150px;
    }
}
#info-bar{
    top: 0px;
    position: relative;
}
#resume-wrapper{
    margin-top: 20px;
}

@media print  
{
    div{
        page-break-inside: avoid;
    }
    .center-column{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    footer{
        display: none;
    }
    #printer-logo{
        display: block;
    }
}

/* Basic Template */
body{
    font-family: 'Roboto', sans-serif;
}

#resume-title h1{
    font-weight: normal;
    padding-bottom: 0.3em;
    line-height: 1.2;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.education-title, .position-title{
    font-weight: bold;
    line-height: 1.6;
}

.company-name, .position-start-date, .position-end-date,
.institution-name, .education-start-date, .education-end-date{
    font-style: italic;
    display: inline;
}

.spaced{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.education.spaced,
.position.spaced{
  margin-block-end: 2em;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* End Basic Template */