{% extends './base.html' %}
{% load static %}

{% block head_inserts %}
<link rel="stylesheet" href="{% static 'builder/vendor/ui/vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
<link rel="stylesheet" href="{% static 'builder/vendor/ui/vendors/iconfonts/ionicons/css/ionicons.css' %}">
<link rel="stylesheet" href="{% static 'builder/vendor/ui/vendors/iconfonts/typicons/src/font/typicons.css' %}">
<link rel="stylesheet" href="{% static 'builder/vendor/ui/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css' %}">
<link rel="stylesheet" href="{% static 'builder/vendor/ui/vendors/css/vendor.bundle.base.css' %}">
<link rel="stylesheet" href="{% static 'builder/vendor/ui/vendors/css/vendor.bundle.addons.css' %}">
<link rel="stylesheet" href="{% static 'builder/vendor/ui/vendors/iconfonts/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'builder/vendor/ui/css/main/style.css' %}">
<link rel="shortcut icon" href="{% static 'builder/vendor/ui/images/favicon.png' %}" />
<link rel="stylesheet" href="{% static 'builder/styles/app-base.css' %}">
<script src="{% static 'builder/vendor/ui/vendors/js/vendor.bundle.base.js' %}"></script>	
<script src="{% static 'builder/vendor/ui/vendors/js/vendor.bundle.addons.js' %}"></script>

    {% block template_head_inserts %}
    {% endblock %}
{% endblock %}

{% block content %}
    {% block app_content %}
    {% endblock %}
{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container-fluid clearfix">
      <a href="{% url 'index' %}">
        <div id="logo" style="background-image: url({% static 'builder/images/seemyresumelogo.svg' %})"></div>
      </a>
    </div>
</footer>
{% endblock %}

{% block navbar %}
<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
        <a class="navbar-brand brand-logo" href="{% url 'load_builder' %}">
        <img src="{% static 'builder/images/seemyresumelogo.svg' %}" alt="logo" /> </a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center">
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user-circle-o"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
            <div class="dropdown-header text-center">
                <i class="fa fa-user-circle-o profile-dropdown-icon"></i>
                <p class="mb-1 mt-3 font-weight-semibold">{{ request.user.first_name }} {{ request.user.last_name }}</p>
                <p class="font-weight-light text-muted mb-0">{{ request.user.email }}</p>
            </div>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            <a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a>
            </div>
        </li>
        </ul>
        {% endif %}
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="mdi mdi-menu"></span>
        </button>
    </div>
</nav>
{% endblock %}