{% load static %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SeeMyResume.io</title>
    <style>
    .content{
      width: 100%;
    }
    </style>
    {% block head_inserts %}
    {% endblock %}
  </head>
  <body>
    <div class="container-scroller">
      {% block navbar %}
      {% endblock %}
      <div class="container-fluid page-body-wrapper">
        <div class="content">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>