{% load static %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SeeMyResume.io</title>
    <!-- plugins:css -->
    
    <link rel="stylesheet" href="{% static 'builder/vendor/ui/vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'builder/vendor/ui/vendors/iconfonts/ionicons/css/ionicons.css' %}">
    <link rel="stylesheet" href="{% static 'builder/vendor/ui/vendors/iconfonts/typicons/src/font/typicons.css' %}">
    <link rel="stylesheet" href="{% static 'builder/vendor/ui/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'builder/vendor/ui/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'builder/vendor/ui/vendors/css/vendor.bundle.addons.css' %}">
    <link rel="stylesheet" href="{% static 'builder/vendor/ui/vendors/iconfonts/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'builder/vendor/ui/css/shared/style.css' %}">
    <link rel="stylesheet" href="{% static 'builder/vendor/ui/css/main/style.css' %}">
    <link rel="shortcut icon" href="{% static 'builder/vendor/ui/images/favicon.png' %}" />
    <script src="{% static 'builder/vendor/ui/vendors/js/vendor.bundle.base.js' %}"></script>	
    <script src="{% static 'builder/vendor/ui/vendors/js/vendor.bundle.addons.js' %}"></script>

    <style>
      .main-panel{
        width: 100%;
        min-height: 100vh;
      }
    </style>

    {% block head_inserts %}
    {% endblock %}
  </head>
  <body>
    <div class="container-scroller">
      {% block navbar %}
      {% endblock %}
      <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
          <div class="content-wrapper"> 
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix"></div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
  </body>
</html>