{% extends 'builder/app-base.html' %}
{% load static %}

{% block template_head_inserts %}
<script src="{% static 'builder/vendor/tinymce/js/tinymce/tinymce.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'builder/styles/builder.css' %}">

<script>
    tinymce.init({
        selector: '.resume-editor',
        height: '66vh',
        plugins: "code, lists, link",
        toolbar: "code | fontselect | fontsizeselect | h1 | h2 | h3 | numlist | bullist | link",
        branding: false,
        //fontsize_formats: "test=3vw test2=4vw",
        setup: function (ed) {
                    ed.on('init', function (e) {
                      ed.execCommand("fontName", false, "Arial");
                     // ed.getBody().style.fontSize = '4vw';
                    });
                }   
    });

</script>
{% endblock %}

{% block info_message %}
  {% for message in messages %}
    {% ifequal message.tags "error" %}
    <div id="save-error" class="alert alert-danger {% if message.tags %}{{ message.tags }}{% endif %}">
        {{ message }}
    </div>
    {% endifequal %}
    {% ifequal message.tags "success" %}
    <div id="info-bar" class="hide-me-after-5 alert alert-success {% if message.tags %}{{ message.tags }}{% endif %}">
        {{ message }}
    </div>
    {% endifequal %}
  {% endfor %}
{% endblock %}

{% block app_content %}
<div id="builder-container">
  <div class="row">

    <div class="col-lg-9">
      <div class="row">
          <div class="col-lg-12 grid-margin">
              <div class="card editor-container">
                  <div class="card-body">
                      <div class="editor-title">
                        <h3>{{ constants.EDIT_MY_RESUME }}</h3>
                        <div class=font-weight-bold id="profile-url">
                          My resumé url  is: <a target="_blank" href="http://{{site_url}}/{{ request.user.account.profile_url}}/">http://{{site_url}}/{{ request.user.account.profile_url}}/</a>
                        </div>
                      </div>
                      <form method = "post">
                          {% csrf_token %}
                          {{ forms.resume_details_form }}
                          {{ forms.resume_jobs_formset.management_form }}
                          {% for form in forms.resume_jobs_formset %}
                            {{ form.media }}
                            {{ form.as_p }}
                            {{ form.errors }}
                          {% endfor %}
                          <input class="btn btn-outline-primary" id="preview-button" type="submit" value="{{ constants.RESUME_PREVIEW_BUTTON }}" formaction="{% url 'preview_resume' %}">
                          <input class="btn btn-success btn-fw" id="save-button" type="submit" value="{{ constants.RESUME_SAVE_BUTTON }}" formaction="{% url 'save_builder' %}">
                      </form>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="card activate-profile-container">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="d-flex align-items-center pb-2">
              </div>
              <h3>{{ constants.ACTIVATE_RESUME_HEADER }}</h3>
              <div id="activate-profile-form-container">
                <form id="activate-profile" action="{% url 'activate_resume' %}">
                    {% csrf_token%}
                    {{ forms.activate_profile_form }}
                    <label class="profile-toggle-switch">
                        <span id="activate-profile-slider" class="slider round"></span>
                    </label>
                </form>
              </div>
              <div class="live-indicator" id="not-live">
                <div class="dot-indicator bg-danger mr-2"></div>
                <span class='h4'>{{ constants.NOT_LIVE_TEXT }}</span>
                <div class="col-lg-12 live-status-text">
                  {{ constants.RESUME_NOT_PUBLISHED }}
                </div>
              </div>
              <div class="live-indicator" id="live">
                <div class="dot-indicator bg-success mr-2"></div>
                <span class='h4'>{{ constants.LIVE_TEXT }}</span>
                <div class="col-lg-12 live-status-text">
                  {{ constants.RESUME_IS_PUBLISHED }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



</div>


<script>
    var slider = $('#activate-profile-slider');
    var checkbox = $('#activate-profile-checkbox');
    var liveIndicator = $('.live-indicator#live');
    var notLiveIndicator = $('.live-indicator#not-live');

    $(document).ready(function(){

      if(checkbox.val() == 'True'){
        slider.addClass('active');
        liveIndicator.addClass('show');
      } else{
        notLiveIndicator.addClass('show');
      }
    });

    slider.click(function(){
        var form = $('#activate-profile');
        var checkedStatus = checkbox.val()

        if (checkedStatus == 'True'){
            checkbox.val('False');
        } else{
            checkbox.val('True')
        }

        $.ajax({
            type: "POST", 
            url: form.attr('action'),
            data: form.serializeArray(),
            success: function(res){
              if (checkedStatus == 'True'){
                slider.removeClass('active');
                notLiveIndicator.addClass('show');
                liveIndicator.removeClass('show');
              } else{
                slider.addClass('active');
                notLiveIndicator.removeClass('show');
                liveIndicator.addClass('show');
              }
            },
            error: function() {
              if (checkedStatus == 'True'){
            checkbox.val('False');
            } else{
                checkbox.val('True')
            }
          }
        });
    });

    // Send previews to a new window
    $('#preview-button').click(function(e) {
      $(this).closest('form').attr('target', '_blank');
    });
    $('#save-button').click(function(e) {
      $(this).closest('form').attr('target', '');
      return;
    });

    // Hide save success / failure banner after 5s
    setTimeout(
      function(){
        $('.hide-me-after-5').remove();
      }, 5000);
</script>
{% endblock %}
