{% extends 'builder/base.html' %}
{% load static %}

{% block content %}
<style>
    /* The profile-toggle-switch - the box around the slider */
    .profile-toggle-switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .profile-toggle-switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    } 

    /* Alert Box */
    #save-error{
        text-align: center;
    }

</style>
<div id="save-error" class="alert alert-danger">
    <strong>Resume Save Failed!</strong> Please try again and contact support if issue persists.
</div>

<div id ="profile-url">
    Your public profile URL is <a target="_blank" href="http://{{site_url}}/{{ request.user.account.profile_url}}/">http://{{site_url}}/{{ request.user.account.profile_url}}/</a>
</div>

<div id="activate-profile-container">
    <form id="activate-profile" action="{% url 'activate-resume' %}">
        {% csrf_token%}
        <label class="profile-toggle-switch">
            {{activate_profile_form}}
            <span class="slider round"></span>
        </label>
    </form>
</div>

<a href="{% url 'logout' %}">logout</a></li>

<form method = "post" action="{% url 'builder' %}">
    {% csrf_token%}
    {{editor_form.media}}
    {{editor_form.as_p}}
    <p> <input type = "submit" value = "Save"> </p>
</form>
<script>
    var slider = $(".profile-toggle-switch .slider");
    slider.click(function(){
        var form = $('#activate-profile');
        var checkbox = $('#activate-profile-checkbox');
        var checkedStatus = checkbox.is(":checked");
        var formData = form.serializeArray();
        if (checkedStatus == true){
            formData[1] = {name: "profile_active", value: "False"}
        } else{
            formData[1] = {name: "profile_active", value: "True"}
        }
        console.log(formData);
        $.ajax({
            type: "POST", 
            url: form.attr('action'),
            data: formData,
            success: function(){
                // do nothing
                console.log("POST WORKED");
            },
            error: function() {
                // roll slider on error
                // build or grab some simple error banner
                console.log("JS Error");
            }
        });
    });
</script>
{% endblock %}
