{% extends './base.html' %}

{% load static %}

{% block head_inserts %}
<link rel="stylesheet" href="{% static 'builder/styles/resume.css' %}">
<link rel="stylesheet" href="{% static 'builder/styles/common.css' %}">
{% endblock %}

{% block info_message %}
    {% if is_preview %}
    <div id="info-bar" class="alert alert-success">  
        {{ constants.RESUME_PREVIEW_MESSAGE }}
    </div>
    {% endif %}
{% endblock %}

{% block content %}
<div id="resume-wrapper">
    <div class="center-column">
        <div id="printer-logo">
            <img src="{% static 'builder/images/created-with-vertical.svg' %}">
        </div>
        <!-- Basic template -->
        <div id="resume-title">
            <h1>{{ resume.resume_title }}</h1>
        </div>
        <div id="contact-info">
            {{ resume.contact_information }}
        </div> 
        <div id="skills-list">
            {{ resume.current_skills }}
        </div>
        <div id="experience-list">
            {% for job in resume_jobs %}
            <div class="position">
                {{ job.position_title }}
            </div>
            {% endfor %}
        </div>
        <div id="education-list">
            {% for education in resume_education %}
                <div class="education">
                    {{ education.education_title }}
                </div>
            {% endfor %}
        </div>
        <!-- End Basic template -->
    </div>
    <a href="{% url 'index' %}">
        <footer class="fixed-bottom">
                <div class="footer-container col-lg-12">
                    <div class="image-container">
                        <div alt="seemyresume.io" id="footer-logo" style="background-image: url({% static 'builder/images/created-with-horizontal.svg' %})"></div>
                    </div>
                </div>
        </footer>  
    </a>
</div>
{% endblock %}

