{% extends './base.html' %}

{% load static %}

{% block head_inserts %}
<link rel="stylesheet" href="{% static 'builder/styles/resume.css' %}">
<link rel="stylesheet" href="{% static 'builder/styles/common.css' %}">
{% endblock %}

{% block info_message %}
    {% if is_preview %}
    <div id="info-bar" class="alert alert-success">  
        {{ constants.RESUME_PREVIEW_MESSAGE }}
    </div>
    {% endif %}
{% endblock %}

{% block content %}
<div id="resume-wrapper">
    <div class="center-column">
        <div id="printer-logo">
            <img src="{% static 'builder/images/created-with-vertical.svg' %}">
        </div>
        <!-- Basic template -->
        {% if resume.resume_title %}
        <div id="resume-title">
            <h1>{{ resume.resume_title }}</h1>
        </div>
        {% endif %}

        {% if resume.contact_information %}
            {% if resume.contact_information_section_title %}
                <h2>{{ resume.contact_information_section_title }}</h2>
            {% endif %}
            <div id="contact-info">
                {{ resume.contact_information }}
            </div> 
        {% endif %}

        {% if resume.personal_statement %}
            {% if resume.personal_statement_section_title %}
                <h2>{{ resume.personal_statement_section_title }}</h2>
            {% endif %}
            <div id="personal-statement">
                {{ resume.personal_statement }}
            </div>
        {% endif %}

        {% if resume.current_skills %}
            {% if resume.current_skills_section_title %}
                <h2>{{ resume.current_skills_section_title }}</h2>
            {% endif %}
            <div id="skills-list">
                {{ resume.current_skills }}
            </div>
        {% endif %}

        {% if resume_jobs %}
            {% if resume.resume_jobs_section_title %}
            <h2>{{ resume.resume_jobs_section_title }}</h2>
            {% endif %}
            <div id="experience-list">
                {% for job in resume_jobs %}
                <div class="position">
                    {{ job.position_title }}
                </div>
                {% endfor %}
            </div>        
        {% endif %}

        {% if resume_education is not None %}
        <div id="education-list">
            {% for education in resume_education %}
                <div class="education">
                    {{ education.education_title }}
                </div>
            {% endfor %}
        </div>
        {% endif %}

        <!-- End Basic template -->
    </div>
    <a href="{% url 'index' %}">
        <footer class="fixed-bottom">
                <div class="footer-container col-lg-12">
                    <div class="image-container">
                        <div alt="seemyresume.io" id="footer-logo" style="background-image: url({% static 'builder/images/created-with-horizontal.svg' %})"></div>
                    </div>
                </div>
        </footer>  
    </a>
</div>
{% endblock %}

